/.cargo/config.toml
/.vscode
/target
/node_modules
/.cargo/config.toml
/.env*
!/.env.example
/config*.json
!/config.example.json
/data
/master.key
/mises.sock

# TypeScript incremental build files
*.tsbuildinfo

# ignore generated javascript from ts-node tests
/packages/db/src/**/*.js